{##
## System
##}

/* Error Pages */

.error-page {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}

.error-page:before {
  content: attr(data-error);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 40vw;
  color: #F3F6F9;
  z-index: -1;
}

.error-page_heading {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

/* System Pages */

.systems-page {
  margin: 0 auto;
  max-width: 500px;
  padding: 6rem 0;
  text-align: center;
}

.systems-page .success {
  display: inline-block;
  margin: 2rem 0;
  background-color: #CDE3CC;
  border: 1px solid #4F7D24;
  border-radius: 4px;
  font-size: 1rem;
  color: #4F7D24;
  padding: .5rem .75rem;
  width: 100%;
}

/* Search Results Page */

.systems-page--left-aligned {
  text-align: left;
}

.hs-search-results {
  margin-top: 2rem;
}

ul.hs-search-results__listing li {
  margin-bottom: 2rem;
}

.hs-search-results__title {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  font-size: 1.25rem;
  color: #252425;
  margin-bottom: .25rem;
}

.hs-search-results__title:hover {
  text-decoration: underline;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-style: italic;
}

.hs-search-results__description {
  padding-top: .5rem;
}

.hs-search-highlight {
  font-weight: bold;
}

/* Forms in System Pages */

.systems-page form ::-webkit-input-placeholder {
 opacity: 1;
}

.systems-page form ::-moz-placeholder {
 opacity: 1;
}

.systems-page form :-ms-input-placeholder {
 opacity: 1;
}

.systems-page form :-moz-placeholder {
 opacity: 1;
}

#email-prefs-form h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#email-prefs-form input[type=text],
#email-prefs-form input[type=email],
#email-prefs-form input[type=password],
#hs_cos_wrapper_password_prompt input[type=password],
#email-prefs-form input[type=tel],
#email-prefs-form input[type=number],
#email-prefs-form input[type=file],
#email-prefs-form select,
#email-prefs-form textarea {
  padding: .969rem !important;
}

#hs_cos_wrapper_password_prompt input[type=password] {
  height: auto !important;
}

#email-prefs-form .checkbox-row {
  margin-bottom: 0.25rem;
}

#email-prefs-form .checkbox-row .fakelabel,
#email-prefs-form .subscribe-options label {
  display: -webkit-box;
  display: flex;
}

#email-prefs-form .subscribe-options label {
  -webkit-box-align: center;
          align-items: center;
}

#email-prefs-form .checkbox-row .fakelabel input,
#email-prefs-form .subscribe-options input {
  margin-right: 0.25rem;
}
#email-prefs-form .checkbox-row .fakelabel input,
#email-prefs-form .checkbox-row .fakelabel span {
  line-height: 1;
}

#email-prefs-form .item-inner {
  margin-bottom: 1.5rem;
}

#email-prefs-form .item-inner > p {
  font-style: italic;
}

/* Password Prompt */

.password-prompt input[type=password] {
  height: auto !important;
  margin-bottom: 20px;
}

/* Backup Unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type=email] {
  margin-bottom: 20px;
  padding: 20px 20px !important;
}