{##
## Footer
##}

.footer {
  background-color: #ffffff;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__main-bar {
  border-top: 10px solid #eb4e54;
}

.footer__main-bar .footer__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

.footer__left {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-align: center;
          align-items: center;
  flex-basis: 100%;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.footer__main-bar__logo {
  background-color: #eb4e54;
  display: inline-block;
  padding: 20px 17px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer__main-bar__logo img {
  max-width: 200px;
  max-height: 200px;
} 

.footer__main-bar__menu {
  margin: 0px 0 35px;
}

.footer__main-bar__menu a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  font-size: 1.25rem;
  color: #252425;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px;
}

.footer__main-bar__menu a:hover,
.footer__main-bar__menu a:focus {
  
}

.footer__main-bar__menu a:hover,
.footer__main-bar__menu a:focus {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 1.25rem;
  color: inherit;
  background-color: transparent;
}

.footer__main-bar__menu a:active {
  background-color: transparent;
}

.footer__main-bar__menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.footer__main-bar__social {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.footer__right {
  -webkit-box-flex: 1;
          flex: 1 0 100%;
  background-color: #f1f1f1;
  padding: 60px 35px 60px 35px;
  text-align: center;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

.footer__copyright-bar {
  border-top: 1px solid #d0d0d0;
  {{ body_font.style }};
  font-size: 0.875rem;
  color: #8a8a8;
  padding: 20px;
}

.footer__copyright-bar .footer__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.footer__copyright-bar__secondary-links a {
  display: inline-block;
  padding: 0px 10px;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
}

.footer__copyright-bar__secondary-links a:last-of-type {
  padding-right: 0;
}

.footer .footer__form {
  margin: 0 auto;
  max-width: 450px;
}

.footer .footer__form form {
  margin: 25px auto 0;
  box-shadow: none;
  border: none;
  padding: 0;
  display: block;
  max-width: 80%;
  background-color: transparent;
}

.footer .footer__form .form-title {
  background-color: unset;
  color: #252425;
  padding: 0 0 1rem 0;
}

.footer .footer__form form div > label {
  background-color: transparent;
}

.footer .footer__form form input[type=text],
.footer .footer__form form input[type=email],
.footer .footer__form form input[type=password],
.footer .footer__form form input[type=tel],
.footer .footer__form form input[type=number],
.footer .footer__form form input[type=file],
.footer .footer__form form select,
.footer .footer__form form textarea {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__main-bar__menu a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .footer__main-bar .footer__container {
    flex-wrap: nowrap;
  }

  .footer__main-bar__social {
    display: inline-block;
    margin-left: 30px;
    margin-top: 0;
    top: 5px;
    position: relative;
  }

  .footer__left {
    display: initial;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  .footer__right {
    padding: 80px 25px 70px 25px;
    -webkit-box-flex: 0;
            flex: 0 1 auto;
  }

  .footer__main-bar__menu {
    margin: 65px 0;
  }

  
}

@media screen and (min-width: 1024px) {
  .footer__main-bar__menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left {
    -webkit-box-flex: 1;
            flex: 1 0 auto;
    padding: 0;
  }

  .footer__main-bar__menu li:not(:last-of-type) a {
    margin-right: 25px;
  }

  .footer__main-bar__menu {
    padding-right: 25px;
  }

  .footer__copyright-bar {
    padding: 20px 0;
  }
}

@media screen and (min-width: 1470px) {
  .footer__right {
    -webkit-box-flex: 1;
            flex: 1 0 auto;
  }
}

/* Fixes for internet explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg {
    max-width: 1rem;
  }

  .footer__left {
    align-items: flex-start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .footer__left .social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
  }
}