/************
 Featured Blog Post Banner
*************/

.featured-blog-posts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

.featured-blog-posts .featured-post {
  flex-basis: 100%;
}

.featured-post {
  padding: 100px 21px 135px;
  padding-top: 100px;
  text-align: center;
  position: relative;
}

.featured-post:hover .featured-post_link,
.featured-post:focus .featured-post_link,
.featured-post:active .featured-post_link {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.featured-post:hover .featured-post_link_icon,
.featured-post:focus .featured-post_link_icon,
.featured-post:active .featured-post_link_icon {
  left: 8px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.featured-post_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0.1;
  margin: 0 auto;
}

.featured-post_image {
  margin-bottom: 40px;
}

.featured-post_image img {
  max-width: 100%;
  max-height: 60px;
  height: 60px;
  width: auto;
}

.featured-post_description {
  color: #ffffff;
}

.featured-post_description h1,
.featured-post_description h2,
.featured-post_description h3,
.featured-post_description h4,
.featured-post_description h5,
.featured-post_description h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.25rem;
  color: inherit;
}

.featured-post_description_tags {
  max-width: 250px;
  margin: 0 auto;
}

.featured-post_description_tags span {
  color: #ffffff;
  border: 2px dotted white;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 5px;
}

.featured-post_link {
  font-size: 1.25rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 23px 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  opacity: 0;
}

.featured-post_link:hover,
.featured-post_link:focus,
.featured-post_link:active {
  color: #ffffff;
}

.featured-post_link_icon {
  display: inline-block;
  position: relative;
  left: 0px;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
  flex-basis: 23px;
  margin-left: 20px;
  line-height: 1;
  fill: #ffffff;
}

.featured-post_link_icon svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 840px) {
  .featured-blog-posts .featured-post {
    -webkit-box-flex: 1;
            flex: 1 0 33.3%;
  }

  .featured-post_link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .feature-post_description {
    padding: 0px 65px;
  }
}
