.logo-banner {
  padding: 25px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
}

.logo-banner__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-banner_text {
  opacity: 0.4;
  color: inherit;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logo-banner_image {
  opacity: 0.5;
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .logo-banner {
    flex-wrap: nowrap;
    padding: 25px 0px;
  }

  .logo-banner_text {
    width: auto;
    text-align: left;
    margin-bottom: 0;
    max-width: 500px;
  }

  .logo-banner_image {
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .logo-banner_image {
    padding: 10px 0;
  }
}
