{##
## Buttons
##}

/* Primary Button */

button,
.button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 0;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px 36px;
  letter-spacing: 0.05rem;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  background-color: #eb4e54;
  border: none; 
  border-radius: 4px;
  white-space: normal;
  line-height: 1.5;
  fill: #ffffff;
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
  color: #e6e6e6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #dc3f45;
}

button:active,
.button:active {
  background-color: {{ color_variant('#eb4e54', 8) }};
}

/* Secondary Buttons */
.button.button--secondary {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #eb4e54;
  background-color: transparent;
  border: 1px solid #eb4e54; 
  border-radius: 4px;
  fill: #eb4e54;
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
  border: 1px solid #dc3f45; 
  color: #dc3f45;
  fill: #dc3f45;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #dc3f45;
  font-size: 1rem;
  font-style: normal;
  fill: #dc3f45;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
}

.button.button--simple:after {
  background-color: #dc3f45;
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
  color: #dc3f45;
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
  color: #dc3f45;
}

/* Button Sizing */

.button.button--small {
  font-size: 0.875rem;
  padding: 12px 36px;
}

.button.button--large {
  font-size: 1.125rem;
  padding: 12px 36px;
}

/* Button Icons */

.button .button__icon svg {
  fill: inherit;
  display: block;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-right: 0;
  margin-left: 1rem
}